*{
    font-family: ABeeZee;
}
body{
    background-color: #FFF;
    width: 100%;
    margin:2%;
}
#acciojobtxt{
    color: #012555;
font-family: Bai Jamjuree;
font-size: 21.714px;
font-style: normal;
font-weight: 600;
line-height: 175%;
letter-spacing: -0.869px;
}
#logo{
display:flex;
font-size: 16px;
font-style: normal;
font-weight: 400;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#ffff;
}
#list-items>li>a{
    color: #4F4F4F;
}
.hero-section{
    background-color: #2F80ED;
display: flex;
width: 100%;
padding: 8px 562px;
align-items: flex-start;

}
.launchyourcareer{
    color: #2B2F34;
font-family: ABeeZee;
font-size: 50px;
font-style: italic;
font-weight: 400;
line-height: 130%; /* 65px */
letter-spacing: -0.75px;
}
.launchyourcareer1{
    color: #2B2F34;
font-size: 50px;
font-style: italic;
font-weight: 400;
line-height: 130%; /* 65px */
letter-spacing: -0.75px;
}
.launchyourcareer1>p{
color: #2F80ED;
font-size: 50px;
font-style: italic;
font-weight: 400;
line-height: 130%; /* 65px */
letter-spacing: -0.75px;
}
form>.name{
background-color: #fafafa;
}
form>.number{
    background-color: #fafafa;
}
.launchyourcareer1{
    display:flex;
}
.left-h-sec{
    margin: 10%;
}
.curriculum{
    display: flex;
}
.lakh41{
    color:#2B2F34;
font-family: ABeeZee;
font-size: 20px;
font-style: italic;
font-weight: 400;
line-height: 130%;
}
.Highest-Salary{
    color:#4F4F4F;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 18.6px */
letter-spacing: 0.12px;
}
.below-hero-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    margin-left:2%;
    margin-top: 20px;
    padding: 90px 108px 90px 108px

}
.left-below-hero-sec{
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    margin-top: 60px;
    gap: 10px;
    border-radius: 23px;
background: #FFF;
box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.12);
}
.left-above-hero-sec{
display: flex;
justify-content: space-evenly;
margin-top: 30px;
width: 711px;
height: 65px;
padding: 15px 20px;
align-items: flex-end;
gap: 34px;
border-radius: 8px;
border: 1px solid #E2E2E2;
background: #FFF;
box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
}
.right-h-sec{
    display: inline-flex;
    padding:70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
    gap: 28px;
    border-radius: 18px;
background: #FFF;
box-shadow: 0px 25px 54px 0px rgba(0, 0, 0, 0.12);
}
.name{
    margin-bottom: 5px;
}
.apply{
    display: flex;
    width: 367px;
    padding: 14px 6px 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 8px;
background: var(--New, linear-gradient(277deg, #992FED 0%, #2F80ED 100%));
}
pre{
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #818D9D;
}
a{
    text-decoration:none;
}
.course-we-offer{
    background: #ECF8FF;
}
.course-we-offer>h5{
    text-align: center;
    font-family: ABeeZee;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    background: var(--New, linear-gradient(277deg, #992FED 0%, #2F80ED 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.our-courses{
    background-color: #ecf8ff;
    padding: 30px;
}
.course-we-offer>h1{
    color: #2F80ED;
text-align: center;
font-family: ABeeZee;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 54px */
letter-spacing: -0.54px;
}
.card{
    background-color: #ecf8ff;
    border-radius: 5px;
    margin-top: 50px;
    width: rem;
    display:flex;
    flex-direction: row;
    column-gap: 20px;
    align-items:center;
    justify-content: center;
    border: none;

}
.card1{
    border: solid #2f80ed 3px;
    background-color: #FFFF;
    border-radius: 8px;
    width: 30rem;
    row-gap: 10px;
    padding: 20px;
}
.half-card{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    row-gap: 10px;
    padding: 20px;
   
}
.Ideal-For-first-time-coders{
display: inline-flex;
padding: 6px 15px;
margin-top: -60px;
align-items: flex-start;
gap: 18px;
border-radius: 7px;
border: 2px solid #2F80ED;
background: var(--primaryskyblue, #2F80ED);
}
.Ideal-For-first-time-coders>span{
color: var(--BLACK, #2B2F34);
font-family: ABeeZee;
font-size: 26px;
font-style: italic;
font-weight: 400;
line-height: normal;
}
.btn-1{
color: #1D78B0;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
border:none;
border-radius: 10px;
padding:5px 10px 5px 10px;
}
.placement{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.buttons{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
.brochure{
    color: skyblue;
    margin-top:10px; 
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid var(--primaryskyblue, #2F80ED);
    background: #FFF;
}
.learn-more{
color:white;
background: var(--primaryskyblue, #2F80ED);
}
.sec4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.hiringpara>p{
background: var(--New, linear-gradient(277deg, #992FED 0%, #2F80ED 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.companies{
    padding:70px;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}
.companies-logo{
width: 180px;
height: 60px;
}
.btn-2{
    display: flex;
    width: 250px;
    color:#FFF;
    padding: 14px 6px 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 8px;
    background: var(--primaryskyblue, #2F80ED);
    border:none;
}
.card-para>p{
   font-style: normal;
}
.Alumni{
    display: flex;
    flex-direction:column;
    padding:50px;
    align-items: center;
}
.name-of-student{
    font-size: small;
}
.student-card{
    width:calc(100% - 20rem);
display:grid;
grid-template-columns: repeat(3,4fr);
place-items: center;
grid-template-rows: 2;
align-items: flex-start;
gap: 15px;

}
.card-1-upper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-1{
border-radius: 10px;
padding: 24px;
border: 2px solid #D7D7D7;
background: #FFF;
box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);

}

